[alias]
	ci = commit
	co = checkout
	st = status

[branch]
	autosetupmerge = true

[color]
	ui = auto

[core]
	autocrlf = input
	editor = subl -w

#[diff]
#	external = ~/bin/git-diff-wrapper.sh

[help]
	browser = open
	
[include]
	# For credentials, secrets, etc.
	path = ~/.gitconfig.local
